%main.container
  .header.flex.justify-between.mt-4
    %h1 Quotes
    = turbo_frame_tag "form_cont" do
      = render 'quotes/form', quote: Quote.new

  .relative.overflow-x-auto.mt-8
    = turbo_frame_tag "quotes" do
      - @quotes.each do |quote|
        = render quote