%main.container
  .header
    %h1 Quotes
    = link_to "New quote", new_quote_path, class: "btn btn--primary" |
  -# = render @quotes



  .relative.overflow-x-auto
    %table.w-full.text-sm.text-left.text-gray-500.dark:text-gray-400
      %thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
        %tr
          %th.px-6.py-3{:scope => "col"}
            Name
          %th.px-6.py-3{:scope => "col"}
            Action
      %tbody
        - @quotes.each do |quote|
          %tr.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700
            %th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white{:scope => "row"}
              = quote.name
            %td.px-6.py-4
              = link_to "Edit", edit_quote_path(quote), {class: "font-medium text-blue-600 dark:text-blue-500 hover:underline"}
            