.relative.overflow-x-auto
  %table.w-full.text-sm.text-left.text-gray-500.dark:text-gray-400
    %thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
      %tr
        %th.px-6.py-3{scope: "col"}
          Branch Name
        %th.px-6.py-3{scope: "col"}
          Description
    %tbody
      %tr.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700
        %th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white{scope: "row"}
          feature_1
        %td.px-6.py-4
          Replace Table Row With Edit Form
       